@import "core/mixin/_element_selector";
@import "core/mixin/_hover";
@import "core/mixin/_position";
@import "core/mixin/_psudoClass";
@import "core/mixin/_shape";
@import "core/mixin/_text";
@import "core/mixin/_wh";
@import "core/mixin/_bg";
@import "core/mixin/_rem";
@import "core/mixin/_gradient";
@import "core/mixin/_media";
@import "core/mixin/_rwd";
@import "core/mixin/_spaing";
@import "core/mixin/_clearfix";
@import "core/mixin/_btn_setting";


@mixin font_setting($weight, $size, $height, $spacing) {
    font-weight: $weight;
        font-size: $size + px;
        line-height: $height + px;
        letter-spacing: $spacing + px;
}