.web_aside {
  position: relative;
  // padding-top: $header_h * 1px;
  &-inner {
    margin-bottom: 40px;
    border-radius: 10px;
    border: 1px solid color("grey3");
    background-color: #fff;
    box-shadow: map-get($boxShadow, "default");
    overflow: hidden;

    @include media-down(lg) {
      margin-bottom: 1rem;
    }

    &-hd {
      padding: 0.5rem 0;
      text-align: center;

      // background-color: color("2nd3");
      background-color: color("2nd2");

      .title {
        margin-bottom: 0;

        @extend .txt-2nd2;
        @extend .txt-headline4;
      }

      @include media-down(lg) {
        position: relative;
        cursor: pointer;

        position: relative;
        &:after {
          @include psudoClass;
          @include absolute(50%, 1rem);
          transform: translateY(-50%);
          @include triangle(bottom, color("grey1"), 0.5rem);

          .js-open & {
            transform: translateY(-50%) scaleY(-1);
          }
        }
      }
    }

    &-bd {
      padding: 0 1rem;

      @include media-down(lg) {
        max-height: 0;
        overflow: hidden;
        transition: $transition-base;

        .js-open & {
          max-height: 500px;
        }
      }
    }

    &-item {
      &:not(:first-of-type) {
        border-top: 1px solid color("grey4");
      }

      .link {
        display: block;
      }
    }
  }

  &-search {
    .web_aside-inner-bd {
      padding: 1rem;

      @include media-down(lg) {
        padding: 0;
      }
    }

    &.js-open {
      .web_aside-inner-bd {
        @include media-down(lg) {
          padding: 1rem;
        }
      }
    }
  }

  .simplebar-scrollbar::before {
    width: 90%;
    margin: auto;
    // background-color: color("primary");
  }

  .simplebar-track.simplebar-horizontal {
    &::before,
    &::after {
      content: "";
      @include absolute(2px, $L: 2px);
      @include wh(8);
      border-left: 2px solid color("primary");
      border-bottom: 2px solid color("primary");
      transform: rotate(45deg);
      // color: color("primary");
    }

    &::after {
      left: unset;
      right: 2px;
      transform: rotate(-135deg);
    }
  }
}

%web_aside_link {
  display: block;
  padding: 1rem 0;
}
