.page_section {
  padding-top: 104px;

  @include media-down(lg) {
    padding-top: 104px * 0.8;
  }
  @include media-down(md) {
    padding-top: 104px * 0.5;
  }

  @include media-down(sm) {
    padding-top: 104px * 0.3;
  }

  &.banner {
    padding-top: 0;
  }

  &.home-about {
    + .home-news {
      @include media-down(lg) {
        padding-top: 104px * 1.5;
      }
      @include media-down(md) {
        // padding-top: 104px * 0.5;
      }

      @include media-down(sm) {
        // padding-top: 104px * 0.3;
      }
    }
  }

  &.page-store-store_list {
    padding-top: 0;
    @include media-down(lg) {
      padding-top: 2rem;
    }
  }
}

.page_section-hd {
}
