// > color
$colors: map-merge(
  (
    "primary": #1c9cd0,
    "secondary1": #99d5ea,
    "secondary2": #167aa2,
    "secondary3": #f5f4f0,
    "2nd1": #e8e1d4,
    "2nd2": #d4c1a9,
    "2nd3": #f5f4f0,
    "2nd4": #785f49,
    "grey1": #5c5c5c,
    "grey2": #8f8f8f,
    "grey3": #dbdbdb,
    "grey4": #f5f5f5,
    "grey5": #ffffff,
    "orange": #f09c36,
    "blue2": #049bd4,
    "gray2": #838987,
  ),
  $colors
);

// > layout
$aside_w: 250;
$aside_w-close: 50;
$header_h: 104;
$header_h-breakpoint-desktop-mobile: 95;
$webLogo-w: 300;
$webLogo-h: 50;
$breakpoint-desktop-mobile: 1024;
$mobile-menu-w: 275;

// > text
$txt-size: (
  "h1": 46,
  "h2": 30,
  "h3": 24,
  "h4": 16,
  // "h5": 16,
  "s": 14,
  "p1": 16,
  "p2": 14,
  // "h6": 14,,,,,,,,,,,
);

$base-font-size: 16;

// > shadow
$z-depth-1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !default;
$z-depth-1-half: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
  0 4px 15px 0 rgba(0, 0, 0, 0.15) !default;
$z-depth-2: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !default;
$z-depth-3: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !default;
$z-depth-4: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !default;
$z-depth-5: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !default;

$boxShadow: 0px 9px 21px rgba(0, 0, 0, 0.75);
$boxShadowHover: 3px 10px 21px rgba(0, 0, 0, 1);
$boxShadowHover1: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
  0 4px 15px 0 rgba(0, 0, 0, 0.15);
$boxShadowHover2: 0px 30px 30px -10px rgba(206, 183, 155, 0.2);

$boxShadowActive1: 0 3px 7px 0 rgba(0, 0, 0, 0.58),
  0 2px 9px 0 rgba(0, 0, 0, 0.55);

$boxShadow-weak: 0px 1px 3px rgba(#000, 0.2);

$boxShadow-home: 0px 5px 10px rgba(206, 183, 155, 0.2);
$boxShadow-homeHover: 0px 30px 30px -10px rgba(206, 183, 155, 0.2);
// $cntWrapBoxShadow: 0px 1px 3px rgba(#000, 0.2);

$boxShadow: (
  "default": 0px 5px 10px rgba(120, 95, 73, 0.2),
  "hover": 0px 10px 30px rgba(120, 95, 73, 0.2),
  "reverse": 0px -5px 10px rgba(120, 95, 73, 0.2),
);

// > font family
$normal_font: PingFang TC, "Microsoft JhengHei", "微軟正黑體", "蘋果儷中黑",
  \5fae\x8f6f\6b63\9ed1\4f53, Arial, "Helvetica Neue", Helvetica;
$NotoSansTC: "Noto Sans TC", sans-serif;
$NotoSerifTC: "Noto Serif TC", serif;
// $NotoSansTC: "Noto Sans TC", "蘋果儷中黑", "Microsoft JhengHei", "微軟正黑體", \5FAE\x8F6F\6B63\9ED1\4F53, Arial, "Helvetica Neue", Helvetica;
$YaHei: "Microsoft YaHei UI", "微軟正黑體", "蘋果儷中黑",
  \5fae\x8f6f\6b63\9ed1\4f53, Arial, "Helvetica Neue", Helvetica;

// > btn
$btn-padding-y: 0.85rem;
$btn-padding-x: 2.13rem;
$btn-padding-y-sm: 0.5rem;
$btn-padding-x-sm: 1.6rem;
$btn-padding-y-md: 0.7rem;
$btn-padding-x-md: 1.6rem;
$btn-padding-y-lg: 1rem;
$btn-padding-x-lg: 2.4rem;
$btn-border-radius: 3px;

$border-radius-base: 5px;

// > easing
$easing1: cubic-bezier(0.4, 0, 0.2, 1);
$easing2: cubic-bezier(0.7, 0, 0.3, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutCubic2: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic3: cubic-bezier(0.12, 0.49, 0.17, 0.87);
$easing3: cubic-bezier(0.87, -0.41, 0.19, 1.44);

// > transition
$transition-base: all 0.3s ease-in-out;

// > iframe_rwd
$iframe_rwd-w: 400;
$iframe_rwd-h: 200;

$input-height-border: 0;
$input-height: calc(#{$input-height-inner} + #{$input-height-border}) !default;
