.greenFurn1_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 2px;
  border: none;
  padding: 0 2rem;
  cursor: pointer;

  box-shadow: 0 0 0 rgba(#000, 0);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out;

  background-color: color("primary");
  color: lighten(color("primary"), 55);

  @include media-down(sm) {
    padding: 0 1.2rem;
  }

  &-s {
    height: 30px;
    padding: 0.3rem 0.6rem;
  }

  &:hover {
    // box-shadow: $boxShadowHover1;
    background-color: color("secondary3");
    color: #fff;
    // background-color: rgba(color("2nd1"), 0.2);
    // color: color("primary");
    text-decoration: none;
  }

  .icon {
    + .txt {
      margin-left: 0.5rem;
    }
  }
  .txt {
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: $boxShadowActive1;
  }

  @each $name, $color in $colors {
    &-#{$name} {
      @include btn_setting(color("#{$name}"), darken(color("#{$name}"), 35));
      // color: $color;
    }
  }

  @each $name, $color in $colors {
    &-#{$name} {
      &.greenFurn1_btn-nobg {
        background-color: transparent;
        color: $color;

        &:hover {
          background-color: lighten($color, 10);
          color: #000;
        }
      }
    }
  }

  &-nobg {
    background-color: transparent;
    color: color("2nd1");
    &:hover {
      background-color: transparent;
      color: color("primary");
    }
  }

  &-border {
    background-color: rgba(color("primary"), 0);
    border: 1px solid color("primary");
    color: color("primary");

    &:hover {
      background-color: rgba(color("primary"), 1);
      color: #fff;
      text-decoration: none;
    }
  }

  // &-default {
  // 	@include btn_setting(#3E3A39, #fff);
  // }

  // &-orange {
  // 	@include btn_setting(#EB663D, #fff);
  // }

  // &-blue {
  // 	@include btn_setting(#1D2974, #fff);
  // }

  // &-gray {
  // 	@include btn_setting(#716C6B, #fff);
  // }

  // &-purple {
  // 	@include linear-gradient(to bottom right, #c89feb, #5d69be);
  // 	color: lighten(#5d69be, 40);

  // 	&:hover {
  // 		@include linear-gradient(to bottom right, darken(#c89feb, 15), darken(#5d69be, 15));
  // 		color: lighten(#5d69be, 50);
  // 	}
  // }
  // &-green {
  // 	@include linear-gradient(to bottom right, $green-lighten-1, $green-darken-4);
  // 	color: $green-lighten-4;

  // 	&:hover {
  // 		@include linear-gradient(to bottom right, darken($green-lighten-1, 15), darken($green-darken-4, 15));
  // 		color: $green-lighten-5;
  // 	}
  // }
  // &-red {
  // 	@include linear-gradient(to bottom right, $red-lighten-1, $red-darken-4);
  // 	color: $red-lighten-4;

  // 	&:hover {
  // 		@include linear-gradient(to bottom right, darken($red-lighten-1, 15), darken($red-darken-4, 15));
  // 		color: $red-lighten-5;
  // 	}
  // }
}

.btn-pdt-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-social_share {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include wh(24);
  border-radius: 10px;

  background-color: #fff;
  border: 1px solid color("primary");
  color: color("primary");

  transition: $transition-base;

  path {
    fill: currentcolor;
  }

  .svgicon {
    svg {
      display: block;
    }
  }

  .drawicon-Facebook {
    @include wh(7.23, 14);
  }
  .drawicon-LINE {
    @include wh(14, 13.35);
  }
  .drawicon-Twitter {
    @include wh(14, 11.38);
  }

  &:hover {
    background-color: color("primary");
    color: #fff;
  }
}

/* ==============btn swiper ===============*/
// .swiper-button {
// 	&-prev {
// 		left: 0px;
// 	}
// 	&-next {
// 		right: 0px;
// 	}
// }
