$field_height: 50;
$field_bd_color: #d1d1d1;
.greenFurn1_frm {
  // .konodioda {
  // 	display: flex;
  // 	align-items: center;
  // }
  padding-top: 40px;
  &-inner {
    box-shadow: map-get($boxShadow, "default");
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
    @include media-down(sm) {
      padding: 1rem;
    }
  }
  &-col {
    position: relative;
  }
  &-label {
    flex: 0 0 auto;
    // color: #000;
    margin-bottom: 0.5rem;
    // text-align: justify;
    // text-align-last: justify;
    @extend .txt-headline4;
    &:after {
      .required & {
        content: "*";
        display: inline-block;
        margin-left: 0.3rem;
        color: color("primary");
      }
    }
  }
  &-input {
  }
  &-rcxlist {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    .greenFurn1_rcx {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    &-other {
      input {
        // height: calc(40px - 1rem);
        padding: 1rem 1.5rem;
        border-radius: 10px;
        border: 1px solid color("grey3");
      }
    }

    &.agree {
      .greenFurn1_rcx-label .choicemark {
        border-radius: 5px;
        flex: 0 0 auto;
      }

      .greenFurn1_rcx-input:checked + .choicemark:before {
        border-radius: 2px;
      }
    }
  }
  &-error {
    @include absolute(60%);
    z-index: -1;
    height: 0;
    opacity: 0;
    &:not(:empty) {
      z-index: 2;
      height: auto;
      background-color: #e16b8d;
      padding: 0.3rem 0.8rem;
      border-radius: 5px;
      color: #f6bccc;
      opacity: 1;
      transition: $transition-base;
      &:before {
        @include psudoClass;
        @include absolute(-8px, $L: 1rem);
        @include triangle("top", #e16b8d, 8px);
      }
      // padding-top: 0.3rem;
      // color: color("main");
      // &.js-show {
      // 	opacity: 1;
      // }
    }
  }
  // &-select {
  // 	position: relative;
  // 	width: 100%;
  // 	height: $field_height * 1px;
  // 	border-radius: 5px;
  // 	border: 1px solid $field_bd_color;
  // 	background-color: #fff;
  // 	cursor: pointer;
  // 	@include media-breakpoint-down(md) {
  // 		height: 35px;
  // 	}
  // 	select {
  // 		position: relative;
  // 		z-index: 2;
  // 		border: none;
  // 		@include wh;
  // 		background-color: transparent;
  // 		padding-left: 0.8rem;
  // 		padding-right: 0.8rem;
  // 	}
  // 	.arrow {
  // 		@include psudoClass;
  // 		@include absolute(calc(50% - 3px), 1rem);
  // 		z-index: 1;
  // 		@include triangle('bottom', #3C3A39, 8px);
  // 		transition: $transition-base;
  // 	}
  // 	&.js-open {
  // 		.arrow {
  // 			transform: scaleY(-1);
  // 		}
  // 	}
  // }
  &-textarea {
    .greenFurn1_frm & {
      width: 100%;
      height: 200px;
      border-radius: 5px;
      border: none;
      padding: 0 1rem;
      // border: 1px solid $field_bd_color;
      // background-color: #fff;
      // padding: 1rem;
    }
    resize: none;
  }
  .frm-btns {
    display: flex;
    justify-content: center;
  }
  .form-control {
  }
}

.frm-uName {
  .greenFurn1_field-input {
    max-width: 50%;
  }
  .greenFurn1_field-append {
    @include absolute($R: 1.5rem);
  }
}

.frm-updateFile {
  .greenFurn1_field-input {
    height: calc(64px - 1rem);
  }
  .txt {
  }
}
