// rcx(radiocheckbox)
$rcx-mark-color: (
  "default": #b3b3b3,
  "active": color("primary"),
);
$rcx-txt-color: #5c5c5c;
.greenFurn1_rcx {
  display: flex;

  // width: 100%;
  height: 100%;
  align-items: center;

  &-label {
    // margin-right: 1.2rem;
    background-color: transparent;
    margin-bottom: 0;
    padding: 0.25rem;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;

    transition: $transition-base;

    .choicemark {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @include wh(20);
      // border-radius: 5px;
      border: 1px solid currentColor;

      // margin-right: 1rem;
      transition: all 0.3s ease-in-out;

      color: map-get($rcx-mark-color, "default");
      &:before {
        @include psudoClass;
        @include wh(60%, 40%);
        border-bottom: 2px solid currentColor;
        border-left: 2px solid currentColor;
        transform: rotate(-45deg) translate(10%, -10%) scale(0);

        opacity: 0;

        transition: all 0.3s $easing3;
      }
    }

    .txt {
      padding-left: 1rem;
      color: $rcx-txt-color;

      transition: $transition-base;

      // word-break: keep-all;
      // white-space: nowrap;
    }

    &:hover {
      background-color: darken(#fff, 5);
    }
  }

  &-input {
    opacity: 0;
    display: none;

    &:checked {
      + .choicemark {
        // background-color: currentColor;
        &:before {
          transform: rotate(-45deg) translate(10%, -10%) scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.greenFurn1_rcx {
  &-label {
    .choicemark {
      @include circle(16);
      color: map-get($rcx-mark-color, "default");
      &:before {
        background-color: map-get($rcx-mark-color, "default");
        transform: scale(0);
      }
    }
    .txt {
      padding-left: 0.5rem;
      color: $rcx-txt-color;
    }
    &:hover {
    }
  }
  &-input {
    &:checked {
      + .choicemark {
        color: map-get($rcx-mark-color, "active");
        &:before {
          opacity: 1;
          @include circle(8);
          background-color: currentColor;
          border: none;
          transform: scale(1);
        }
      }
    }
  }
}
