/*----------------------------------------------------------------------*\
        >>  atag
\*----------------------------------------------------------------------*/

a {
    color: color('grey1');
    transition: all 0.3s ease-in-out;
    &:hover {
        text-decoration: none;
        color: color('primary');
    }
}

