.page-products-container {
  display: grid;
  grid-template-columns: percentage(2 / 12) percentage(1 / 12) percentage(
      9 / 12
    );
  grid-template-areas: "aside . main";

  padding-top: 104px;

  .pdt-OA & {
    display: block;
  }
  .web_aside {
    grid-area: aside;
  }
  .web_main-content {
    grid-area: main;
  }

  @include media-down(xl) {
    grid-template-columns: percentage(3 / 12) percentage(9 / 12);
    grid-template-areas: "aside main";

    .web_aside {
      padding-right: 1rem;
    }
    .web_main-content {
      padding-left: 1rem;
    }
  }
  //   @include media-down($breakpoint-desktop-mobile * 1px) {
  @include media-down(lg) {
    padding-top: 104px * 0.8;

    display: flex;
    flex-direction: column;

    .web_aside {
      margin-bottom: 2rem;
      padding-right: 0;
    }
    .web_main-content {
      padding-left: 0;
    }
  }
  @include media-down(md) {
    padding-top: 104px * 0.5;
  }

  @include media-down(sm) {
    padding-top: 104px * 0.3;
  }
}

.products_banner {
  &.page_section {
    padding-top: 56px;
    // padding-top: 0;
    @include media-down(md) {
      padding-top: 2rem;
    }
  }

  &-inner {
    position: relative;

    // overflow: hidden;
    // padding: 1rem 0;
    padding-top: 200px;
    // height: 300px;

    @include media-down(md) {
      padding-top: 0;
      // @include rwdBlock(640, 300);

      display: flex;
      flex-direction: column;
    }
  }

  .bg {
    // position: relative;
    z-index: 1;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    overflow: hidden;

    @include absolute(0, $L: 0);

    @include media-down(md) {
      // height: 600px;
      @include rwdBlock(640, 300);
      position: relative;
      top: unset;
      left: unset;
      margin-bottom: 1rem;

      order: 0;
    }

    &:before {
      @include psudoClass;
      @include wh();
      @include linear-gradient(to bottom, rgba(#fff, 0) 0%, #000 100%);
      opacity: 0.5;
    }
  }

  .txt {
    // @include absolute($B:-50%, $L:50%);
    // transform: translateX(-50%);
    // width: 95%;
    position: relative;
    z-index: 2;
    padding: 24px 40px;
    // color: #fff;

    width: calc(100% - 2rem);
    margin: auto;
    background-color: rgba(#fff, 1);
    // @include linear-gradient(to bottom, rgba(#fff, 0) 0%, #fff 30%);
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(#5c5c5c, 0.1);
    // height: 172px;

    @include media-down(md) {
      width: 100%;
      order: 1;
      padding: 1rem;
    }
  }

  .heading {
    margin-bottom: 1rem;
  }

  .intro {
    margin-bottom: 0;
  }
}

.products_recommend_list-case {
  .recommend_item {
    @include media-down(md) {
      margin-bottom: 1rem;
    }
  }
}
